<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wxl.wordTraining.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.wxl.wordTraining.model.entity.TbArticle">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="user_id" property="userId" />
        <result column="description" property="description" />
        <result column="visit_number" property="visitNumber" />
        <result column="praise_number" property="praiseNumber" />
        <result column="comment_number" property="commentNumber" />
        <result column="collection_number" property="collectionNumber" />
        <result column="tags" property="tags" />
        <result column="cover_image" property="coverImage" />
        <result column="status" property="status" />
        <result column="permissions" property="permissions" />
        <result column="review_opinions" property="reviewOpinions" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <select id="selectArticleList" resultType="org.wxl.wordTraining.model.vo.article.ArticleVO"
            parameterType="org.wxl.wordTraining.model.dto.article.ArticleListRequest">
        select user_id,title,content,a.id,user_account,description,visit_number,praise_number,comment_number,collection_number,
               tags,cover_image,status,permissions,review_opinions,a.create_time,a.update_time
        from tb_user as u , tb_article as a
        where a.user_id = u.id
        <if test="userAccount != null and userAccount != ''">
           and  user_account like CONCAT('%',#{userAccount},'%')
        </if>
        <if test="content != null and content != '' ">
           and (title like  CONCAT('%',#{content},'%') or content like CONCAT('%',#{content},'%')  or description like CONCAT('%',#{content},'%'))
        </if>
        <if test="status != null">
            and  a.status = #{status}
        </if>
        <if test="permissions">
            and permissions = #{permissions}
        </if>
        LIMIT ${(current - 1) * pageSize},${pageSize};
    </select>

    <select id="selectArticleAll" resultType="org.wxl.wordTraining.model.vo.article.ArticleAllVO"
            parameterType="org.wxl.wordTraining.model.dto.article.ArticleAllRequest">
        select a.id, a.user_id,title,username,u.avatar,a.description,visit_number,praise_number,comment_number,collection_number,
        tags,cover_image,a.update_time,permissions
        from tb_user as u , tb_article as a
        where a.user_id = u.id
        <if test="content != null and content != '' ">
            and (a.title like  CONCAT('%',#{content},'%') or a.content like CONCAT('%',#{content},'%')  or a.description like CONCAT('%',#{content},'%'))
        </if>
        and a.status = 0
       ;
    </select>

    <select id="selectArticleLogin" resultType="org.wxl.wordTraining.model.vo.article.ArticleAllVO">
        select a.id, a.user_id,title,username,u.avatar,a.description,visit_number,praise_number,comment_number,collection_number,
        tags,cover_image,a.update_time
        from tb_user as u , tb_article as a
        where a.user_id = u.id
        <if test="articleAllRequest.content != null and articleAllRequest.content != '' ">
            and (a.title like  CONCAT('%',#{articleAllRequest.content},'%') or a.content like CONCAT('%',#{articleAllRequest.content},'%')  or a.description like CONCAT('%',#{articleAllRequest.content},'%'))
        </if>
        and a.status = 0
        and ( a.permissions = 0 or (a.permissions = 2 and
           a.user_id in
        <foreach collection="concernList" item="userId" separator="," open="(" close=")">
            #{userId}
        </foreach>
        ))
        ;
    </select>

</mapper>
