<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wxl.wordTraining.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.wxl.wordTraining.model.entity.TbArticle">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="user_id" property="userId" />
        <result column="description" property="description" />
        <result column="visit_number" property="visitNumber" />
        <result column="praise_number" property="praiseNumber" />
        <result column="comment_number" property="commentNumber" />
        <result column="collection_number" property="collectionNumber" />
        <result column="tags" property="tags" />
        <result column="cover_image" property="coverImage" />
        <result column="status" property="status" />
        <result column="permissions" property="permissions" />
        <result column="review_opinions" property="reviewOpinions" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

</mapper>
