<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wxl.wordTraining.mapper.CollectionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.wxl.wordTraining.model.entity.TbCollection">
        <id column="id" property="id" />
        <result column="collection_id" property="collectionId" />
        <result column="type" property="type" />
        <result column="user_id" property="userId" />
        <result column="collection_time" property="collectionTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>
    <update id="updateCollection">
        update tb_collection set is_delete = 0,collection_time = now()
            where
        is_delete = 1 and collection_id = #{collectionAddRequest.id} and type = #{collectionAddRequest.type} and user_id = #{loginUser.id}
    </update>
    <select id="selectCollection" resultType="org.wxl.wordTraining.model.entity.TbCollection">
        select id,collection_id,`type`,user_id,is_delete
        from tb_collection
        where
            collection_id = #{collectionAddRequest.id}
            and `type` = #{collectionAddRequest.type}
            and user_id = #{loginUser.id}
    </select>

</mapper>
