<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wxl.wordTraining.mapper.CommentsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.wxl.wordTraining.model.entity.Comments">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="content" property="content" />
        <result column="create_time" property="createTime" />
        <result column="parent_id" property="parentId" />
        <result column="top_id" property="topId" />
        <result column="article_id" property="articleId" />
        <result column="is_top" property="isTop" />
        <result column="is_sticky" property="isSticky" />
        <result column="is_show" property="isShow" />
        <result column="is_complain" property="isComplain" />
        <result column="praise_number" property="praiseNumber" />
        <result column="review_opinions" property="reviewOpinions" />
        <result column="is_delete" property="isDelete" />
    </resultMap>
    <update id="addCommentPraiseNumber" parameterType="java.lang.Long">
        update tb_comments set praise_number = praise_number + 1 where id = #{commentId} and is_delete = 0 and is_show = 0 and is_complain = 0;
    </update>
    <update id="deleteCommentPraiseNumber" parameterType="java.lang.Long">
        update tb_comments set praise_number = praise_number - 1 where id = #{commentId} and is_delete = 0 and praise_number > 0 and is_show = 0 and is_complain = 0;
    </update>
    <update id="deleteComment" parameterType="java.lang.Long">
        update tb_comments set is_delete = 1 where (id = #{commentId} or parent_id = #{commentId} or top_id = #{commentId}) and is_delete = 0 and is_show = 0 and is_complain = 0
    </update>
    <update id="deleteCommentByArticleId" parameterType="java.lang.Long">
        update tb_comments set is_delete = 1 where article_id = #{articleId};
    </update>
    <update id="updateCommentShow">
        update tb_comments set is_show = #{isShow} where article_id = #{articleId};
    </update>
    <select id="getCommentListAll" resultType="org.wxl.wordTraining.model.vo.comment.CommentListVO"
            parameterType="java.lang.Long">
        select c.id,user_id,username,avatar,content,c.create_time,is_sticky,praise_number,article_id
            from tb_user as u,tb_comments as c
        where
            c.user_id = u.id
        and c.is_delete = 0 and u.is_delete = 0 and c.is_show = 0 and c.is_complain = 0
        and c.article_id = #{articleId} and is_top = 0
        order by c.create_time desc,praise_number desc
     </select>
    <select id="getCommentChildList" resultType="org.wxl.wordTraining.model.vo.comment.CommentListVO">
        select c.id,user_id,username,avatar,content,c.create_time,parent_id,top_id,is_sticky,praise_number,article_id
            from tb_user as u,tb_comments as c
        where
            c.user_id = u.id
        and c.is_delete = 0 and u.is_delete = 0 and c.is_show = 0 and c.is_complain = 0
        and c.parent_id = #{parentId} and c.top_id = #{topId}
        order by c.create_time desc,praise_number desc
    </select>
    <select id="getCommentEarly" resultType="java.time.LocalDateTime" parameterType="java.lang.Long">
        SELECT create_time
        FROM tb_comments AS a
        WHERE ((user_id = #{userId} or parent_id in (SELECT id FROM tb_comments WHERE user_id = #{userId}  AND is_delete = 0)) AND is_delete = 0)
        ORDER BY create_time asc
            LIMIT 1;
    </select>

</mapper>
