<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wxl.wordTraining.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.wxl.wordTraining.model.entity.User">
        <id column="id" property="id" />
        <result column="user_account" property="userAccount" />
        <result column="user_password" property="userPassword" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="username" property="username" />
        <result column="birthday" property="birthday" />
        <result column="gender" property="gender" />
        <result column="avatar" property="avatar" />
        <result column="role" property="role" />
        <result column="point_number" property="pointNumber" />
        <result column="concern" property="concern" />
        <result column="challenge_num" property="challengeNum" />
        <result column="coiled_day" property="coiledDay" />
        <result column="online_day" property="onlineDay" />
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>
    <update id="updatePointAll">
        update tb_user set point_number = point_number + #{pointAll} where id = #{userId} and is_delete = 0;
    </update>
    <select id="selectByUserAccount" resultType="java.lang.Long" parameterType="java.lang.String">
        select id from tb_user where user_account = #{userAccount} and is_delete = 0;
    </select>

</mapper>
