<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wxl.wordTraining.mapper.WordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.wxl.wordTraining.model.entity.Word">
        <id column="id" property="id" />
        <result column="word" property="word" />
        <result column="translation" property="translation" />
        <result column="type" property="type" />
        <result column="image" property="image" />
        <result column="example" property="example" />
        <result column="pronounce_english" property="pronounceEnglish" />
        <result column="pronounce_america" property="pronounceAmerica" />
        <result column="synonym" property="synonym" />
        <result column="antonym" property="antonym" />
        <result column="exchange" property="exchange" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>
    <select id="getWordTrainingList" resultType="org.wxl.wordTraining.model.entity.Word"
            parameterType="java.util.List">
        select word,`translation`,image,example,pronounce_english,pronounce_america
            from tb_word
        where is_delete = 0 and
              type in
        <foreach collection="wordTypeList" item="wordType" open="(" separator="," close=")">
            #{wordType}
        </foreach>
        ORDER BY RAND()
        LIMIT 50;
    </select>
    <select id="selectWordByWordTypeCount" resultType="java.lang.Integer" parameterType="java.lang.String">
        select count(1) from tb_word where type like concat('%',#{wordType},'%') and is_delete = 0;
    </select>
    <select id="selectWordByWordType" resultType="org.wxl.wordTraining.model.entity.Word"
            parameterType="java.lang.String">
        select id,type from tb_word where type like concat('%',#{wordType},'%') and is_delete = 0;
    </select>
    <select id="selectWordIdList" resultType="java.lang.Long" parameterType="java.lang.String">
        select id from tb_word where word like concat('%',#{word},'%') and is_delete = 0;
    </select>
    <select id="selectWordIdByTranslation" resultType="java.lang.Long" parameterType="java.lang.String">
        select id from tb_word where `translation` like concat('%',#{translation},'%') and is_delete = 0;
    </select>
    <select id="selectWordIdByType" resultType="java.lang.Long"
            parameterType="java.util.Set">
        select id from tb_word where type in
        <foreach collection="typeSet" item="wordType" open="(" separator="," close=")">
            #{wordType}
        </foreach>
        and is_delete = 0;
    </select>

</mapper>
